@use 'helpers/index' as *;

$font-family-base: 'ComicSans', sans-serif;

$color-light: #ebeced;
$color-light-alt: #cccfd2;
$color-dark: #3d4b56;
$color-dark-alt: #5f6d78;
$color-accent: #fe7971;
$color-success: #59eb68;

$border-dark: 1px solid $color-dark;
$border-dark-alt: 1px solid $color-dark-alt;
$border-accent: 1px solid $color-accent;
$border-light: 1px solid $color-light;
$border-light-alt: 1px solid $color-light-alt;

$radius-big: rem(100);
$radius: rem(52);
$radius-medium: rem(16);
$radius-regular: rem(8);
$radius-small: rem(4);

$container-width: rem(767);
$container-padding-x: fluid(20, 15);

$transition-duration: 0.2s;
$transition-duration-fast: 0.1s;