@use '../helpers/index' as *;
@use '../variables' as *;

.loading {
  @include abs-center;
  @include square(30);

  animation: load 1s linear infinite;
  transform-origin: center;

  @keyframes load {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}