@use '../helpers/index' as *;
@use '../variables' as *;

.message-wrapper {
  @include flex-center();

  width: 100%;
  position: fixed;
  top: rem(40);
  z-index: 100000;
}

.message {
  background: $color-dark-alt;
  border: $border-light-alt;
  padding: rem(10) rem(20);
  border-radius: $radius-medium;
}